<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Runner.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <!-- Uncomment to connect the application file log. -->  
                    <add name="FileLog" /> 
                    <!-- Uncomment to connect the event log. -->  
                    <add name="EventLog" />  
                    <!-- Uncomment to connect the event log. -->  
                    <add name="Delimited" />
                    <!-- Uncomment to connect the XML log. -->  
                    <add name="XmlWriter" />
                    <!-- Uncomment to connect the console log. -->  
                    <!-- <add name="Console" /> -->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
                       Microsoft.VisualBasic, Version=8.0.0.0, 
                       Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog"  
                 type="System.Diagnostics.EventLogTraceListener,   
                       System, Version=2.0.0.0,   
                       Culture=neutral, PublicKeyToken=b77a5c561934e089"  
                 initializeData="Runner"/>  
            <add name="Delimited"   
                 type="System.Diagnostics.DelimitedListTraceListener,   
                       System, Version=2.0.0.0,   
                       Culture=neutral, PublicKeyToken=b77a5c561934e089"  
                 initializeData= "C:\temp\RunnerDelimitedFile.txt"  
                 traceOutputOptions="DateTime" />  
            <add name="XmlWriter"  
                 type="System.Diagnostics.XmlWriterTraceListener,   
                       System, Version=2.0.0.0,   
                       Culture=neutral, PublicKeyToken=b77a5c561934e089"  
                 initializeData="C:\temp\RunnerLogFile.xml" />  
            <add name="Console"  
                 type="System.Diagnostics.ConsoleTraceListener,   
                       System, Version=2.0.0.0,   
                       Culture=neutral, PublicKeyToken=b77a5c561934e089"  
                 initializeData="true" />
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Runner.My.MySettings>
            <setting name="SaveResultsLocation" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="CommandDirectory" serializeAs="String">
                <value>\\Server1\EngineeringReleased\Utilities\Runner</value>
            </setting>
            <setting name="BaseIPString" serializeAs="String">
                <value>192.168.5.</value>
            </setting>
            <setting name="FixedIP" serializeAs="String">
                <value>2</value>
            </setting>
        </Runner.My.MySettings>
    </userSettings>
</configuration>
